<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/templates/crud-tradicional/plantilla.html::head">
    <title th:text="${titulo}">Listar</title>

</head>
<body>

<div class="container">
    <div class="jumbotron">
        <a href="/comprar/"> Comprar </a>
        <a href="/crud-simple/"> Administrar Productos </a>
        <a href="/carrito/"> Carrito </a>
        <a href="/login/"> login </a>
        <br>
        <h1 class="display-4" th:text="${titulo}">....</h1>
        <p class="lead">Carrito de Compras</p>

        <br>

        <table class="table table-striped">

            <br>
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Precio</th>
                <th scope="col">Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="producto : ${lista}">
                <th scope="row">
                    <a th:text="${producto.id}" th:href="'visualizar/'+${producto.id}"/>
                </th>
                <td th:text="${producto.nombre}">Producto</td>
                <td th:text="${producto.precio}">Precio</td>
                <td>
                    <a th:text="Editar" th:href="'editar/'+${producto.id}" th class="btn btn-secondary btn-sm"/> |
                    <a th:text="Eliminar" th:href="'eliminar/'+${producto.id}" th class="btn btn-danger btn-sm"/>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <!-- incluyendo la parte de javascript del template.        -->
    <div th:replace="/templates/crud-tradicional/plantilla.html::javascript">

    </div>

</div>
</body>

</html>